@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

@font-face {
    font-family: 'TT Interphases';
    src: url('../resources/TT Interphases Pro Trial Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

.navbar a {
    color: white;
    transition: color 0.3s;

}

.navbar a:hover {
    color: rgb(0, 221, 255);
}

#title {
    display: flex;
    font-size: 1.3em;
    margin: auto;
}

.navbar {
    border-radius: 25px;
    padding: 5px 20px;
    /* background: linear-gradient(to right, #23146b, #63035b); */
    background: linear-gradient(to right, #23146b, #130433);
    /* background: linear-gradient(to right, #525151, #262626); */
    opacity: 1;
    border: 1px solid rgb(72, 49, 109);
}

.nav-item {
    font-size: 1 em;
}

h5 {
    font-family: 'TT Interphases', sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    color: white;
    margin: 0;
    margin-right: 20px;
}

.navbar-logo {
    max-height: 50px;
    margin-right: 20px;
}

.container {
    padding-top: 30px;
    justify-content: space-between;
    font-family: 'Exo 2', sans-serif;
}

.navbar a {
    color: white;
}

.navbar-toggler {
    color: white;
}